:root {
    --primary-color: #7494ec;
    --secondary-color: #fff;
    --background-gradient: linear-gradient(190deg, #e2e2e2, #c9d6ff);
    --text-color: #333;
    --placeholder-color: #888;
    --box-shadow-color: rgba(0, 0, 0, .2);
    --input-bg: #eee;
    --auth-border-radius: 30px;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    /* background: var(--background-gradient); */
}

.auth-container {
    position: relative;
    height: 450px;
    background: var(--secondary-color);
    border-radius: var(--auth-border-radius);
    box-shadow: 0 0 30px var(--box-shadow-color);
    margin: 20px;
    overflow: hidden;
    @apply w-[90vw] md:w-[760px];
}

.form-box {
    position: absolute;
    right: 0;
    height: 100%;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
    @apply md:w-[50%] w-full p-3 md:p-5;
}

.auth-container.active .form-box {
    @apply md:right-[50%] right-0;
}

.form-box.register {
    visibility: hidden;
}

.auth-container.active .form-box.register {
    visibility: visible;
}

.form {
    width: 100%;
    height: 100%;
    @apply flex flex-col justify-center gap-4;
}

.auth-container h1 {
    font-size: 36px;
    margin: -10px 0px;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: var(--input-bg);
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
}

.input-box input::placeholder {
    color: var(--placeholder-color);
    font-weight: 400;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--placeholder-color);
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: var(--text-color);
    text-decoration: none;
}

.auth-btn {
    width: 100%;
    height: 48px;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 600;
}

.auth-container p {
    font-size: 14.5px;
    margin: 15px 0px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    display: inline-block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: var(--text-color);
    text-decoration: none;
    margin: 0 8px;
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: var(--primary-color);
    border-radius: calc(var(--auth-border-radius) + 20px);
    z-index: 2;
    transition: 1s ease-in-out;
}

.auth-container.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.auth-container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: .6s;
}

.auth-container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: .6s;
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid var(--secondary-color);
    box-shadow: none;
}

@media (max-width: 450px) {
    .auth-container {
        margin: 10px;
    }
}
