@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer base {
    label {
        @apply block mb-2 text-sm font-medium text-red-500;
    }
}

@layer primevue-overrides {
    [data-pc-section="hideicon"], [data-pc-section="showicon"]{
        @apply m-0 right-0
    }
    .p-button.p-button-icon-only{
        width: auto;
    }
    .p-component.p-password{
        @apply flex
    }
    .p-component.p-password>*{
        @apply w-full
    }
    .p-button-sm, .p-button{
        @apply py-2 px-4 text-base font-medium
    }
    .p-button-label{
        @apply text-base font-medium
    }
    .p-button-loading-icon {
        @apply me-2.5
    }
    .p-inputtext{
        @apply p-2 w-full
    }
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
    .bg-base-gradient{
        background: rgb(235,234,241);
        background: -moz-radial-gradient(circle, rgba(235,234,241,1) 0%, rgba(220,246,255,1) 51%, rgba(231,244,246,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(235,234,241,1) 0%, rgba(220,246,255,1) 51%, rgba(231,244,246,1) 100%);
        background: radial-gradient(circle, rgba(235,234,241,1) 0%, rgba(220,246,255,1) 51%, rgba(231,244,246,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebeaf1",endColorstr="#e7f4f6",GradientType=1);
    }
}
