@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer base {
    label {
        @apply block mb-1 text-sm font-medium text-gray-500;
    }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
.filepond--drop-label{
    @apply !h-full w-full flex items-center justify-center
}
@layer components {
    .bg-base-gradient{
        background: rgb(235,234,241);
        background: -moz-radial-gradient(circle, rgba(235,234,241,1) 0%, rgba(220,246,255,1) 51%, rgba(231,244,246,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(235,234,241,1) 0%, rgba(220,246,255,1) 51%, rgba(231,244,246,1) 100%);
        background: radial-gradient(circle, rgba(235,234,241,1) 0%, rgba(220,246,255,1) 51%, rgba(231,244,246,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebeaf1",endColorstr="#e7f4f6",GradientType=1);
    }
    .bg-primary-gradient{
        background-color: var(--primary-300);
        width: 120vw;
        height: 52dvh;
        top: -140px;
        left: -70px;
        rotate: -5deg;
        background-image: linear-gradient(to left bottom, var(--primary-400), var(--primary-700), var(--primary-500), var(--primary-300), var(--primary-200), var(--primary-50));
        /* background: linear-gradient(225.55deg, var(--primary-200) -68.45%, var(--primary-500) 65.76%); */
        filter: blur(65px);
        /* background-image: url("/assets/dashboard/primary-gradient-bg.png"); */
        background-size: cover;
    }
    .bg-chat-gradient{
        background:rgba(0, 0, 0, 0) linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) repeat scroll 0 0!important;
    }
    .container{
        @apply max-w-7xl mx-auto
    }
}

@layer primevue-overrides {
        :root {
        --primary-50: #e9f0f7!important;
        --primary-100: #d6e4ef!important;
        --primary-200: #aec9e0!important;
        --primary-300: #85add0!important;
        --primary-400: #5d92c1!important;
        --primary-500: #3f75a4!important;
        --primary-600: #335f85!important;
        --primary-700: #264763!important;
        --primary-800: #192f42!important;
        --primary-900: #0d1821!important;
        --primary-950: #060b0f!important;
    }

    [data-pc-section="hideicon"], [data-pc-section="showicon"]{
        @apply m-0 right-0
    }
    .p-button.p-button-icon-only{
        width: auto;
    }
    .p-component.p-password{
        @apply flex
    }
    .p-component.p-password>*{
        @apply w-full
    }
    .p-button-sm, .p-button{
        @apply py-2 px-4 text-base font-medium
    }
    .p-button-label{
        @apply text-base font-medium
    }
    .p-button-loading-icon {
        @apply me-2.5
    }
    .p-inputtext{
        @apply p-2 w-full
    }
    .p-scrollpanel-bar {
        background: var(--primary-100);
    }
    .p-card{
        @apply rounded-2xl shadow-md
    }
    .p-card-body{
        @apply max-sm:px-2 py-1
    }
    .p-card-content{
        @apply max-sm:p-2
    }
}

